.breadcrumbs{
  margin-top: 170px;
}

main{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

main{
  gap: 50px;
}

.history-container{
  width: 90vw;
}
h2{
  text-align: center;
}

h3{
  color: var(--h-color);
  text-align: center;
}
main p{
  width: 100%;
}
ol, ol> li{
  width: 100%;
  list-style-type: disc;
  font-size: 18px;
  line-height: 200%;
  color: var(--body-color);
}

.buttons button{
  width: 100%;
}

table {
  margin: 0 auto;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid var(--border-color);
	border-collapse: collapse; 
  text-align: center;
}
table th {
	font-weight: bold;
	padding: 5px;
	background: #fff0dd;
	border: 1px solid var(--border-color);
}
table td {
	border: 1px solid var(--border-color);
	padding: 5px;
  color: var(--input-color);
}
select{
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  color: var(--input-color);
  border: none;
  font-family: inter;
  font-size: 16px;
}
.table-wrapper {
  overflow-x: auto;
  align-self: stretch;
}

table {
  width: 100%;
  min-width: 600px; /* важно */
  max-width: 1200px;
  border-collapse: collapse;
}

p{
  line-height: normal;
  color: var(--input-color);
  font-size: 14px;
}

.commit{
  padding: 0 50px;
}