.breadcrumbs{
  margin-top: 170px;
}

main{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.history-container{
  width: 90vw;
}

h3{
  color: var(--h-color);
}
main p{
  width: 100%;
}
ol, ol> li{
  width: 100%;
  list-style-type: disc;
  font-size: 18px;
  line-height: 200%;
  color: var(--body-color);
}

