/* общие настройки */
:root {
  --h-color: #CA8E5D;
  --border-color: #ca8e5dab;
  --bg-color: #FFF3EA;
  --body-color: #B1A79F;
  --hover-color: #A26E44;
  --input-color:#674327;
  letter-spacing: 1px;
}

::-webkit-scrollbar{
  background-color: white;
  width: 10px;
}
/* Полоса прокрутки (трей) */
::-webkit-scrollbar-track {
  background: white;
  border-radius: 6px;
}

/* Ползунок */
::-webkit-scrollbar-thumb {
  background: var(--h-color);
  border-radius: 6px;
}

@font-face {
  font-family: infant;
  src: url(../fonts/Cormorant_Infant/CormorantInfant-VariableFont_wght.ttf);
}

@font-face {
  font-family: inter;
  src: url(../fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: inter;
}


h1,
h2,
h3 {
  margin: 0;
  font-family: infant;
  text-transform: uppercase;
}

h2 {
  font-size: 48px;
  color: var(--h-color);
  font-weight: 500;
  line-height: 70px;
}

p {
  font-size: 18px;
  line-height: 250%;
  color: var(--body-color);
  letter-spacing: 1px;
}

h3 {
  text-transform: unset;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 28px;
}

h1 {
  font-size: 72px;
  margin: 20px 0;
  font-weight: 500;
  text-align: center;
}

@media (max-width: 768px) {
  h2{
    font-size: 36px;
  }
  h3{
    font-size: 24px;
  }
  h1{
    font-size: 56px;
    margin: 15px 0;
  }
  p,a{
    font-size: 16px;
  }

}

@media (max-width: 480px) {
  h2{
    font-size: 28px;
    text-align: center;
    line-height: 45px;
  }
  h3{
    font-size: 20px;
  }
  h1{
    font-size: 48px;
  }
}

/* модальное окно */
.modal-overlay, .success-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 1000;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal-window {
  background: white;
  padding: 30px;
  border-radius: 8px;
  max-width: 500px;
  width: 90%;
  transform: scale(0.9);
  transition: transform 0.3s ease;
}

.modal-overlay.active .modal-window {
  transform: scale(1);
}

.modal-header{
  display: flex;
  justify-content: center;
}

.modal-header h2{
  margin: 0;
}

.modal-content form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.modal-content input{
  padding: 15px 20px;
  font-size: 18px;
  border-radius: 50px;
  border: 1px solid var(--border-color);
}

.content-date-count{
  display: flex;
  gap: 60px;
}

.close-btn {
  position: absolute;
  top: 40px;
  right: 30px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
  width: 35px;
  height: 35px;
}
.check-content{
  position: relative;
  width: 40%;
}

.check-content input{
  width: 100%;
}

input::placeholder{
  color: var(--border-color);
}

input{
  color: var(--input-color);
}

.check-content input[type='date']{
  color: var(--border-color);
  font-family: inter;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  background: url('../img/icons/calendar.svg') no-repeat right center;
  background-size: 20px 20px;
}

input[type='date']{
  cursor: pointer;
}


.placeholder {
  position: absolute;
  pointer-events: none;
  color: var(--hover-color);
  background-color: white;
  border: 1px solid white;
  left: 20px;
  top: 0;
  transform: translateY(-50%);
  font-weight: 500;
}

.modal-content button{
  width: 100%;
  margin-bottom: 20px;
}

.modal-content a{
  color: var(--hover-color);
  text-decoration: underline;
}

li,
a {
  text-decoration: none;
  list-style-type: none;
}

 a {
  position: relative;
  color: white;
  font-size: 18px;
}
 a::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 1px;
  background-color: currentColor;
  transition: width .3s ease-in-out;
  
}

a:hover::after{
  width: 100%;
}

.header-offer, .mobile-offer {
  padding: 16px 24px;
  background: #00000000;
  border-radius: 50px;
  border: 1px solid white;
  color: white;
  font-size: 18px;
  cursor: pointer;
  backdrop-filter: blur(4px);
}

.main-offer {
  padding: 16px 32px;
  background: var(--h-color);
  border-radius: 50px;
  border: 1px solid var(--h-color);
  color: white;
  font-size: 18px;
  cursor: pointer;
  font-family: Inter;

}

.main-offer:hover {
  background-color: var(--hover-color);
}

.header-offer:hover {
  background-color: white;
  color: black;
}

/* шапка */

header {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  top: 0;
  backdrop-filter: blur(12px);
  background: #00000018;

}

.burger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1001;
}

.burger span,
.burger span::before,
.burger span::after {
  width: 25px;
  background: white;
  height: 3px;
  display: block;
  position: relative;
  transition: 0.3s;
}

.burger span::before,
.burger span::after {
  content: "";
  position: absolute;
  left: 0;
}

.burger span::before { top: -8px; }
.burger span::after { top: 8px; }

.mobile-menu-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 999;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: 999;
}

.mobile-menu.active ~ .overlay {
  opacity: 1;
}

.mobile-menu-container:has(.mobile-menu.active) {
  pointer-events: all;
}


.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  width: 50vw;
  height: 100vh;
  background: white;
  transition: right 0.4s ease;
  z-index: 1000;
  border-left: 1px solid var(--border-color);
}

.mobile-menu.active {
  right: 0;
}


.nav-mobile {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 80px 24px;
}

.nav-mobile a {
  font-size: 20px;
  text-decoration: none;
  color: var(--h-color);
}


.header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img,
footer img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

header nav {
  display: flex;
  align-items: center;
  gap: 80px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

/* хлебные крошки */
.breadcrumbs {
  margin-left: 5vw;
  font-family: inter;
  font-size: 14px;
}

.breadcrumbs a {
  text-decoration: none;
  font-size: 14px;
  color: var(--h-color);
}


.breadcrumbs span {
  margin: 0 5px;
  color: var(--input-color);
}

.breadcrumbs .current {
  color: var(--input-color);
}

@media (max-width: 768px) {
  header{
    height: 90px;
  }
  header img{
    width: 60px;
    height: 60px;
  }
  li a{
    font-size: 14px;
  }

  .modile-offer{
    font-size: 16px;
    padding: 12px 16px;
  }
  p{
    font-size: 16px;
  }
  header nav,
  header .header-offer {
    display: none;
  }

  .burger {
    display: block;
  }
  .nav-mobile a, .nav-mobile li{
    font-size: 24px;
  }
}

@media (max-width: 480px) {
  header{
    height: 75px;
  }
  .mobile-menu{
    width: 80vw;
  }
  main{
    gap: 40px;
  }
  p{
    font-size: 14px;
  }
}

/* основной контент */

.banner {
  height: 1000px;
  background: url('../img/главная.png');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.banner h1,
.banner h3 {
  color: white;
}

.banner h3 {
  margin-top: 400px;

}

@media (max-width: 768px) {
  .banner{
    height: 100vh
  }
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.about-container {
  display: flex;
  width: 90%;
  gap: 140px;
  align-items: center;
}

.about-content {
  width: 50%;
}
.about-container img{
  width: 50%;
}
@media (max-width: 768px) {
  .about,.about-container{
    flex-direction: column-reverse;
    gap: 40px;
  }
  .about-content{
    width: 100%;
  }
  .about-container img{
    width: 100%;
  }
}

@media (max-width: 480px) {
  
}

.gallery {
  display: flex;
  align-items: center;
  padding: 70px 0;
  background-color: var(--bg-color);
  flex-direction: column;
}

.gallery-container {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(6);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 2vh;
  align-items: end;

}

.gallery-container .main-offer{
  width: 250px;
}

.gallery-container div{
  width: 30vw;
}
.gallery-container img{
  width: 100%;
  height: 100%;
}

.div1 {grid-area: 2 / 1 / 6 / 3;}
.div2 {grid-area: 1 / 3 / 5 / 5;}
.div3 {grid-area: 2 / 5 / 6 / 7;}
.div4 {grid-area: 6 / 1 / 10 / 3;}
.div5 {grid-area: 5 / 3 / 9 / 5;}
.div6 {grid-area: 6 / 5 / 10 / 7;}

.div7 {
  grid-area: 9 / 3 / 10 / 5;
  display: flex;
  justify-content: center;
  align-items: start;
}

@media (max-width: 768px) {
  .gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gallery h2{
    text-align: center;
  }
  .gallery-container{
    grid-template-columns : repeat(4, 1fr) ;
    grid-template-rows : repeat(10) ;
    grid-column-gap : 20px;
    grid-row-gap : 20px ;
  }
  .gallery-container div{
    width: 340px;
  }
  .gallery-container img{
    width: 100%;
  }
  .div1 { grid-area : 1 / 1 / 4 / 3 ; }
  .div2 { grid-area : 1 / 3 / 4 / 5 ; }
  .div3 { grid-area : 4 / 1 / 7 / 3 ; }
  .div4 { grid-area : 4 / 3 / 7 / 5 ; }
  .div5 { grid-area : 7 / 1 / 10 / 3 ; }
  .div6 { grid-area : 7 / 3 / 10 / 5 ; }
  .div7 { grid-area : 10 / 2 / 11 / 4 ; }
}

@media (max-width: 480px) {
  .gallery-container{
    display: flex;
    flex-direction: column;
  }
}

.reviews{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.reviews-container {
  margin-top: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.review{
  padding: 30px 18px;
  width: 533px;
  height: 280px;
  border-radius: 20px;
  background-color: #FDFDFD;
  border: 1px solid #F0E2D6;
}

@media (max-width: 768px) {
  p{
    line-height: 180%;
  }
  .review{
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .reviews-container{
    gap: 20px;
  }
  .review{
    width: 80%;
    height: fit-content;
  }
}


.faq {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.faq-container {
  padding: 70px 0;
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-between;
}
.faq h2{
  width: 32%;
}

.faq-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

details {
  background: white;
  border-radius: 10px;
  padding: 24px 30px;
}

summary::-webkit-details-marker {
  display: none;
}

summary::-moz-list-bullet {
  list-style-type: none;
}

summary::marker {
  display: none;
}

summary {
  color: var(--h-color);
  display: inline-block;
  padding: .3em .5em .3em .4em;
  font-size: 1.4em;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
}

summary::before {
  float: right;
  content: url('../img/icons/down.png');
  height: 42px;
  transition: all 0.2s ease-in-out;
}

details{
  transition: height 0.6s ease-in-out;
}


.accordion {
  overflow: hidden;
}

.accordion summary {
  cursor: pointer;
}

.accordion > *:not(summary) {
  overflow: hidden;
}

.accordion[data-animating] > *:not(summary) {
  transition: height 0.3s ease;
}


details[open]>summary::before {
  float: right;
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

@media (max-width: 768px) {
  .faq-container{
    flex-direction: column;
  }
  .faq-content{
    width: 100%;
  }
  .faq h2{
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  summary{
    font-size: 18px;
  }
}

footer {
  padding: 50px 0 10px;
  background-color: var(--h-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;

}

.footer-container {
  width: 90%;
  display: flex;
  gap: 240px;
}
.footer{
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

footer img {
  width: 80px;
  height: 80px;
}
footer a, footer p{
  color: white;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer-info{
  margin-top: 100px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-info img{
  width: 40px;
  height: 40px;
}

.vk-group{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 768px) {
  .footer-container{
    gap: 120px;
  }
  footer a{
    font-size: 16px;
  }
  footer img{
    width: 65px;
    height: 65px;
  }
  footer nav{
    gap: 30px;
  }
  .footer-info{
    margin-top: 70px;
  }
}

@media (max-width: 480px) {
  .footer-container{
    gap: 40px;
  }
  .footer{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .footer nav{
    gap: 40px;
  }
  footer a{
    font-size: 18px;
  }
  .footer-info{
    margin-top: 40px;
    width: 90%;
    flex-direction: column;
  }
  .footer-info a, .footer-info p{
    font-size: 16px;
  }
}